

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: "Inter", sans-serif;

  background:#0F0720;

  background:#0b0616;

  color:white;
  
}

.breadcrumb-container {
  font-family: 'Inter', sans-serif;
  padding: 20px;
  max-width:1100px;
  margin:0 auto;
}

.breadcrumb {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}


.breadcrumb-item {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}


.breadcrumb-item a {
  color: #9d4edd;
  text-decoration: none;
  transition: color 0.2s;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
  padding: 0 12px;
  color: #666; 
  font-size: 12px;
}


.breadcrumb-item.active {
  color: #ffffff; 
  pointer-events: none; 
}


.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  max-width:100%;
  margin:0 auto;
  border-bottom:1px solid rgba(84, 16, 107, 0.595);
}

.logo{
  font-size:20px;
  font-weight:600;
  color:white;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  color:#ccc;
  text-decoration:none;
  cursor:pointer;
}

.nav-links a:hover{
  color:white;
}



.checkout-container{
  display:flex;
  gap:30px;              
  padding:40px 20px;   
  align-items:flex-start;

  max-width: 1100px;     
  margin:0 auto;         
}


.checkout-form{
  flex:2;
  max-width:650px;   
}

.checkout-form h1{
  font-size:30px;
  margin-bottom:10px;
  font-weight: 1000;
}

.checkout-form p{
  color:#a1a1aa;
  margin-bottom:25px;
}

.google_pay{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
}
.apple_pay{
  font-family: "roboto", sans-serif;
  font-optical-sizing: auto;
}


.express{
  display:flex;
  gap:15px;
  margin-bottom:25px;
}
.checkout-form h5{
  color: #8726e8;
  margin-bottom: 16px;
}
.express button{
  flex:1;
  padding:10px;
  border-radius:10px;
  border:1px solid #1e293b;
  color:white;
  cursor:pointer;
}
.express button:hover{
  background-color: #191121;
}
.google_btn{
  background-color: #1e293b;
}

.apple_btn{
  background-color: black;
}

.divider{
  text-align:center;
  margin:20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider h4{
  color:#777;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  column-gap: 1.8rem;
  font-weight: bold;

}
.divider h4::before, .divider h4::after{
  content: "";
  height: 1px;
  width: 200px;
  background-color: #1e293b;
  display: block;
}


input{
  width:100%;
  padding:10px 12px;  
  margin-bottom:12px;  
  border-radius:8px;
  font-size:13px;
  border-radius:10px;
  border:1px solid rgba(255,255,255,0.08);
  background:#120c24;
  color:white;
}

.input-with-icon {
  position: relative;
}


.input-with-icon input {
  width: 100%;
  padding-right: 40px; 
}


.card-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-90%);
  
  font-size: 18px;
  color: #888;
  pointer-events: none;
}

input::placeholder{
  color:#6b6b6b;
}



.card-row{
  display:flex;
  gap:15px;
}
.input-group {
  display: flex;
  flex-direction: column;  
  flex: 1;                
}


label{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:14px;
  margin-bottom:20px;
  color:#aaa;
  
}
.input-title{
  font-weight: bold;
  color: white;
}
.checkbox-div{
  display: flex;
  margin: 10px 10px;
  margin-bottom: 20px;
}
.checkbox-div label{
  font-size: 12px;
  margin-bottom: 0px;
  text-align: center;
  color: #5e7397;
}
input[type="checkbox"] {
  background-color: #1e293b;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "✔";             
  color: white;
  font-size: 10px;
  position: absolute;
  display: none;
}

input[type="checkbox"]:checked {
  background-color: #944ce1;
}
input[type="checkbox"]:checked:after{
  display: block;
}


.payment-methods {
  display: flex;
  gap: 20px;
}

.payment-option {
  flex: 1 1 50%;
  cursor: pointer;
}

.payment-option input {
  display: none;
}

.option-content {
  display: flex;
  align-items: center;
  gap: 12px; 
  width: 300px;
  padding: 16px 20px;
  border-radius: 12px;
  background: #140e2a;
  border: 1px solid rgba(255,255,255,0.3);

  transition: 0.2s;
}


.left {
  display: flex;
  align-items: center;
  gap: 8px;
}


.material-symbols-outlined {
  font-size: 20px;
  border-radius: 5px;

}
.icon-box {
  background: #193563;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  padding: 6px;
  color: #3e7fe8;
  border-radius: 6px;
}


.payment-option input:checked + .option-content .icon-box {
  background: #47226c;
}


.payment-option input:checked + .option-content .icon-box span {
  color: #8726e8;
}

.check-icon {
  opacity: 0;
  color: white;
  font-size: 14px;
  transition: 0.2s;
}


.payment-option input:checked + .option-content {
  background: #241335;
  border-color: #8726e8;
  border: 1px solid #8726e8;
}


.payment-option input:checked + .option-content .check-icon {
  opacity: 1;
}


.payment-option:hover .option-content {
 
  border-color: #b26cff;
}
.radio-circle {
  width: 18px;
  height: 18px;
  border: 2px solid  rgba(255,255,255,0.3);  
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

}
.payment-option input:checked + .option-content .radio-circle {
  background-color: #8726e8;
  border-radius: 10px;
  border: none;
  
}

.payment-option input:checked + .option-content .radio-circle::after {
  content: "✔";
  color: none;
  background-color: #8726e8;
  font-size: 12px;
  font-weight: bold;
}


.order-summary{
  flex:1;
  background:#16102a;
  padding:24px;       
  border-radius:16px;
  max-width:360px;    
}

.order-summary h4{
  margin-bottom:15px;
}



.event-info{
  display:flex;
  gap:15px;
  margin-bottom:25px;
 border-bottom:1px solid rgba(65, 64, 64, 0.323)
}

.event-info img{
  width:60px;
  height:60px;
  border-radius:10px;
  object-fit:cover;
  margin-bottom: 25px;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}
.event-info .material-symbols-outlined{
  
  font-variation-settings: 'FILL' 1; 
  font-size: 16px; 
  vertical-align: middle; 
  margin-right: 4px;
}
.event-info h5{
  font-size:15px;
}

.event-info p{
  font-size:13px;
  margin-top: 3px;
  color:#9c9c9c;
}


.price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.price-row .label {
  color: #d1d1d1;      
  font-weight: 400;
  font-size: small;    
}

.price-row .value {
  color: #ffffff;      
  font-weight: 600;    
}

.price-info {
  border-bottom: 1px dashed rgba(77, 74, 77, 0.595);
  padding-bottom: 12px;
}


.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 20px;
}

.total-label {
  color: #ffffff;       
  font-weight: 600;
  font-size: medium;
}

.total-value {
  color: #b26cff;       
  font-weight: bolder;
  font-size: large;
}

.promo{
  display:flex;
  gap:10px;
  margin-top:20px;
}

.promo input{
  flex:1;
  background-color: #191121;
}

.promo button{
  padding:12px 18px;
  border:none;
  border-radius:8px;
  background:#1e293b;
  color:white;
  height: 39px;
  font-weight: bold;
  cursor:pointer;
}
.promo button:hover{
  background-color: rgba(60, 39, 136, 0.981);
}

.confirm{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width:100%;
  margin-top:25px;
  padding:12px;
  font-size:15px;
  border:none;
  border-radius:12px;
  background:linear-gradient(90deg,#7b2cff,#b26cff);
  color:white;
  font-weight: 1000;
  cursor:pointer;
}
.confirm:hover{
  background: #8726e8;
}
.order-summary .terms{
  margin-top: 20px;
  text-align: center;
  color:#888;
  font-size:9px;
}

.footer{
  margin-top:3px;
  padding:30px 20px;
  max-width:100%;
  margin:0 auto;
  display:flex;
  justify-content:space-between;
  border-top:1px solid rgba(255,255,255,0.05);
  color:#888;
  font-size:14px;
}
.footer-icon .material-symbols-outlined{
  margin-right: 20px;
}


@media (max-width:1000px){

  .checkout-container{
    flex-direction:column;
    padding:40px;
  }

  .order-summary{
    max-width:100%;
  }

}

@media (max-width:700px){

  .navbar{
    flex-direction:column;
    gap:15px;
  }

  .checkout-form h1{
    font-size:30px;
  }

  .card-row{
    flex-direction:column;
  }

}

@media (max-width:500px){

  .checkout-container{
    padding:25px;
  }

  .nav-links{
    gap:15px;
  }

  .express{
    flex-direction:column;
  }

  .payment-methods{
    flex-direction:column;
  }


}


@media (max-width: 768px) {
  .two-col-grid {
    grid-template-columns: 1fr !important;
  }
}


/* moreem */


* {
  box-sizing: border-box;
}


.app { width: 100%; }



.main { display: flex; margin-top: 25px; }

.sidebar {
  width: 260px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.section { margin-bottom: 25px; }

.buttons button {
  margin: 5px;
  padding: 8px 12px;
  background: #1a1035;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.buttons button:hover { background: #7c3aed; }
.buttons .active { background: #7c3aed; }

.reset {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 1px solid #7c3aed;
  color: #a855f7;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.reset:hover { background: #7c3aed; color: white; }

.content { flex: 1; margin-left: 25px; }

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs span {
  margin-left: 18px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
}
.tabs span:hover { opacity: 1; color: #c084fc; }
.tabs .active { color: #a855f7; opacity: 1; }
h1 {
  color: white;
}

  
.cardholder-listing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;         
  justify-content: center;  
  gap: 20px;
}
.image-listing {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-listing {
  color: #F3F4F6;
  width: calc(33.33% - 20px);  
  min-width: 250px;         
  background: rgba(255,255,255,0.06);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-listing:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(168,85,247,0.4);
}



.card-body { padding: 16px; }

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.badge {
  background: #7c3aed;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
}

.price { font-size: 12px; opacity: 0.8; }

.buy {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #7c3aed, #a855f7);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.buy:hover { box-shadow: 0 0 20px #a855f7; }

.pagination {
  text-align: center;
  margin-top: 25px;
}

.pagination span {
  margin: 0 6px;
  padding: 8px 12px;
  background: #1a1035;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.pagination span:hover { background: #7c3aed; }
.pagination .active { background: #7c3aed; }

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 25px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-radius: 16px;
}

.footer-title { font-weight: bold; margin-bottom: 10px; }
.footer p {
  font-size: 14px;
  opacity: 0.7;
  margin: 5px 0;
}




/* hendy */
/* navbar */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0F0720;
}
.Navbar {
    background-color: #1A0F2E  ;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.eventpass{
    color: #A855F7 ;
    font-weight: bold;
    padding: 5px 10px;
}
.links {
    display: flex;
    gap: 30px;
}

.link {

    color: #F3F4F6;
    text-decoration: none;
}
.link:hover {
    color: #A855F7;
}


.br {
    color: #0F0720;
    background-color: #0F0720;
}

.search{
    background-color: #A855F7;
    border-radius: 10px #0F0720;
    padding: 5px 10px;
    color: #F3F4F6;
    height: 40px;


}
.search:hover {
    background-color: #F3F4F6;
    color: #A855F7;


}



/* hero */
.backgroundsection{
    color: #F3F4F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.textimage1 {
    font-size: 3rem;
    font-weight: bold;
}
.textimage2 {
    font-size: 3rem;
    font-weight: bold;
    color: #A855F7;
}
.event-finder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color:#1A0F2E ;
    border-radius: 20px;
    height: 70px;
}
.event-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #A855F7;
    font-weight: bold;
    gap: 5px;
    border-right: 2px solid #A855F7;
    padding-right: 10px;
}
.event-input-words{
    color: #F3F4F6;

}
.dateselector{
    color: #F3F4F6;
    background-color: #1A0F2E;
    border: #120c24;
}
.search-btn{
    background-color: #A855F7;
    border-radius: 10px;
    padding: 5px 10px;
    color: #F3F4F6;
}
.search-btn:hover{
    background-color: #F3F4F6;
    color: #A855F7;
}


/* categories */
.categories-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-direction: row;
}

.h2categories{
    color: #F3F4F6;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.button-categories{
    color: #A855F7;
    background-color: #0F0720;
    border: none;
}
.button-categories:hover{
    color: #F3F4F6;
}
.categories-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.button-icon{
    transition: scale 0.3s ease;
    background-color: #0F0720;
    border: none;
}
.button-icon:hover{
    scale: 1.1;
}
.icons{
    color: #F3F4F6;
    background-color: #1A0F2E;
    height: 120px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 20px;

}
.icon-circle{
    color: #A855F7;
    background-color: #291554;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* events */
.events{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1A0F2E;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 15px;


}
.title-name{
    color: #F3F4F6;
    font-size: 2rem;
    font-weight: bold;
}
.arow{
  color: #F3F4F6;
    background-color: #1A0F2E;
    border: none;
}
.arow:hover{
    color: #A855F7;
}
.arows{
    font-size: 1.5rem;
    display: flex;
    gap: 10px;
}
.circle-arow{
    background-color: #1A0F2E;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    width: 100%;
    /* border: 2px solid #FBBF24; */
}
.slider-wrapper{
    overflow: hidden;
    width: 100%;
}
.slider-container{
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}
.card{
    min-width: 23.7%;
    background-color: #0F0720;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: scale 0.3s ease;
    height: 450px;
    margin: 20px 0;
}
.card:hover{
    scale: 1.05;
}

.card-name{
    color: #F3F4F6;
    font-weight: bold;
}
.images-card{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F3F4F6;
}
.start-at{
    color: #F3F4F6;
    font-weight: bold;
}
.buy-ticket{
    background-color: #A855F7;
    color: #F3F4F6;
    border-radius: 10px;
    padding: 5px 10px;
}
.buy-ticket:hover{
    background-color: #F3F4F6;
    color: #A855F7;
}



/* how it works */
.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.works-word{
    color: #F3F4F6;
    font-weight: bold;
    padding-left: 60px;
}
.works-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #F3F4F6;
}
.step {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle-for-icon{
    background-color: #A855F7;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}   



/* abdallah bahgat */

/* 3. Testimonials Section */
.testimonials {
    background-color: #1A0F2E;
    color: #F3F4F6;
    padding: 40px 20px;
    text-align: center;
}
.reviews-container {
    color: #F3F4F6;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.review-card {
    flex: 1;
    min-width: 280px;
    background-color: #0F0720;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    padding: 24px;
    background-color: #1A0F2E;
}

.stars {
    color: #FBBF24; /* لون النجوم أصفر */
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.quote {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 20px;
    line-height: 1.6;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: var(--accent-purple);
    border-radius: 50%;
}

.user-info h5 {
    font-size: 14px;
}

.user-info p {
    font-size: 12px;
    color: var(--muted-text);
}


/* ========================================= */
/* 4. Newsletter Section */
/* ========================================= */
.newsletter {
    background-color: #A855F7;
    padding: 40px 20px;
    text-align: center;
    height: 300px;
    width: 700px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.newsletter-box {
    color: #F3F4F6;
    border-radius: 16px;
    padding: 50px 20px;
    text-align: center;
}

.newsletter-box h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.newsletter-box p {
    font-size: 16px;
    margin-bottom: 25px;
    color: #eee;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.subscribe-form input {
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    width: 300px;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    outline: none;
    background-color: #F3F4F6;
    color: #A855F7;
}

.subscribe-form button {
    padding: 12px 30px;
    width: auto;
    border-radius: 8px;
    border: none;
    background-color: #F3F4F6;
    color: #A855F7;
}


/* ========================================= */
/* 5. Footer Section */
/* ========================================= */
footer {
    background-color: #1A0F2E;
    padding: 50px 5%;
    border-top: 1px solid var(--border-color);
    color: #F3F4F6;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-col h3, .footer-col h4 {
    margin-bottom: 20px;
}

.footer-col p {
    font-size: 14px;
    color: var(--muted-text);
    line-height: 1.6;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: var(--muted-text);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.footer-col ul li a:hover {
    color: var(--accent-purple);
}

.social-icons span {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

/* ========================================= */
/* 📱 Responsive Design (Media Queries) */
/* ========================================= */
@media (max-width: 768px) {
    .section-title {
        font-size: 24px;
    }
    
    .newsletter-box h2 {
        font-size: 22px;
    }

    .subscribe-form input {
        width: 100%;
    }
    
    .subscribe-form button {
        width: 100%;
    }

}